{% extends "base.html" %}
{% block MainContent %}
    <main>
        <div class="centeredContainer">
            <h1><b>MEMBERS</b></h1>
            <p>(in no particular order)</p>
        </div>

        <div class="profileContainer">
            <img class="profileIcon" src="static/img/lisa.png" alt="Lisa"/>
            <div>
                <h2>Mici <span class="extensionSpan">.nim</span></h2>
                <span class="quoteSpan">“necessity is mother of invention”</span>
                <p>
                    Also known as Lisa. Founder of PB2Works Organization. Lisa has first dived into internals of PB2 at 2021. 
                    She has been learning about PB2 ever since then. 
                    With this knowledge, she has succesfully created her first custom MP server at around june 2022. At 19/01/2023, she has met Prosu, Molis and Dman at 5-12, talking about hypothetical mod that improves everything. 
                    She has then offered to start project by doing custom MP. 
                    6 days later, she has officially started PB2Works project as whole at 25/01/2023 by implementing custom MP server. 
                    She is now responsible of server side things of PB2Works. As for official PB2, she has made array trigger actions. 
                    She is also founder of ALEI(ALE Improvements, Userscript that patches PB2 ALE for UX enhancements) and was the maintainer for while until version 19.5 when she handed maintainer privileges to Molis.
                </p>
            </div>
        </div>

        <div class="profileContainer">
            <img class="profileIcon" src="static/img/prosu.png" alt="Prosu"/>
            <div>
                <h2>Prosu <span class="extensionSpan">.c</span></h2>
                <span class="quoteSpan">“please don't overwork yourself”</span>
                <p>
                    Prosu is a person who loves coding and crazy, non-standard maps. 
                    He has been member of Plazma Burst 2 ever since 2011, but he has came active recently. 
                    He is one of 2 people (him and dman) who has done a lot of cleanup of Plazma Burst 2 FLA, allowing for easy modifications. 
                    By sending FLA to mici who has made organization, he is considered to be founder of PB2Works too. 
                    He has also been leading Expanded PB2 into positive light for while, 
                    he is responsible for moving our mod into Adobe AIR based application which allowed him to further make Stage3D, Air Native Extension(Which led to Lua), 
                    he also has made WebGL renderer for ALE. 
                    He also was one who made our application less annoying to install by patching files, allowing to simply run a bat file and then Expanded PB2 itself. 
                    Without him, project wouldn't have progressed as much. He is responsible for AIR and Stage3D side of Expanded PB2.
                </p>
            </div>
        </div>

        <div class="profileContainer">
            <img class="profileIcon" src="static/img/pb dman.webp" alt="Pb dman"/>
            <div>
                <h2>Pb dman <span class="extensionSpan">.as</span></h2>
                <span class="quoteSpan">“I have Hippopotomonstrosesquippedaliophobia”</span>
                <p>
                    Dman is/was well known modder around 5-12. He was first one to PUBLICLY make new trigger action before JPEXS has had the error fixed in 5-12. 
                    He was other person(with prosu) to decompile and clean up FLA file for easier modification. 
                    As a PB2Works member, dman deals with trigger actions and netcode side of things. 
                    He is one who makes improvements to netcode, adds trigger actions
                    (Such as change match password, allow kinetic ability through walls, water actions, vehicle actions, character slot actions, etc... Some of those actions being included in vanilla PB2).
                </p>
            </div>
        </div>

        <div class="profileContainer">
            <img class="profileIcon" src="static/img/nyove.webp" alt="Nyove"/>
            <div>
                <h2>Nyove <span class="extensionSpan">.cpp</span></h2>
                <span class="quoteSpan">“dudewhereismyspoon?”</span>
                <p>
                    Nyove is one of oldest PB2 players, joining in 2012. 
                    He has been making maps such as nyove-rocket, nyove-pokemon (bro accidentally deleted that map) and nyove-class. 
                    He was also staff of PB2. 
                    He is also the person who has made PB2's new launcher and “PlazmaBot” used to facilitate staff verification. 
                    He then joined PB2Works discord server at 03/07/2023, talked with us and stuff. 
                    He then started playing with us at 20/08/2023, he has collaborated with us ever since. 
                    Nyove has decided to contribute Stage3D, bringing it to unseen progression as prosu was just getting burnt out.
                </p>
            </div>
        </div>

        <div class="profileContainer">
            <img class="profileIcon" src="static/img/molis.png" alt="Molis"/>
            <div>
                <h2>Molis <span class="extensionSpan">.js</span></h2>
                <span class="quoteSpan">“To overcome a project, <b>work it harder</b>. Then when you finish the project, <b>make it better</b>. It will become our strength. And gain life there.”</span>
                <p>
                    Molis is another modder around 5-12 who is the developer of "Plazma Burst 2: Last Tronrun" mod which existed years ago(2021), 
                    Eru (Owner of 5-12) also partaked in development of PB2 Last Tronrun mod. 
                    2 years after that(2023), molis has been working on SD2D, then molis one day decided to mod PB2 again, 
                    this time, he has met mici1234, prosu(who has just been starting to be active in PB2 related stuff recently), 
                    dman and nyove(later time). He was one who started development of Stage 3D which was taken over by Prosu and Nyove, 
                    molis also makes fixes to game, adds new actions. In vanilla PB2, he is the developer of nickname visibility, 
                    matrix trigger actions and more. He is coding something secret, wonder how many knows about this? :)
                </p>
            </div>
        </div>
    </main>
{% endblock %}